<div ng-if="data.touch == 1" class="animate-view">
  <div ui-view="sensors"></div>
  <div class="row">
    <div class="col m9 s12">
      <h2 class="section-title no-margin-all">Past data</h2>
      <div class="row">
        <div class="col s12">
          <ul class="tabs dashboard-tabs" tabs>
            <li class="tab col s3"><a class="active teal-text text-accent-4" href="#last-day">Last day</a></li>
            <li class="tab col s3"><a class="teal-text text-accent-4" href="#last-week">Last week</a></li>
          </ul>
        </div>
        <div id="last-day" class="col s12">
          <div ui-view="graphData"></div>
        </div>
        <div id="last-week" class="col s12">
          <div ui-view="graphDayData"></div>
        </div>
      </div>
    </div>
    <div class="col m3 s12">
      <div ui-view="forecast"></div>
    </div>
  </div>
</div>

<div ng-if="data.touch == 0" class="animate-view">
  <div class="row">
    <div class="col m12 s12 center-align">
      <h2 class="call-to-action-landing">Touch your plantie and know how's she doin!</h2>
      <div class="section">
        <a class="waves-effect waves-light btn-large">Or press here if you're far away from your plant</a>
      </div>
    </div>
  </div>
</div>