<h3>Search interval</h3>
<label for="inputCreated">From</label>
<input input-date
    type="text"
    name="created"
    id="inputCreated"
    ng-model="ctrl.currentTimeFrom"
    container="body"
    format="dd/mm/yyyy"
    months-full="{{ ctrl.month }}"
    months-short="{{ ctrl.monthShort }}"
    weekdays-full="{{ ctrl.weekdaysFull }}"
    weekdays-short="{{ ctrl.weekdaysShort }}"
    weekdays-letter="{{ ctrl.weekdaysLetter }}"
    disable="ctrl.disable"
    min="{{ ctrl.minDate }}"
    max="{{ ctrl.maxDate }}"
    today="ctrl.today"
    clear="ctrl.clear"
    close="ctrl.close"
    select-years="15"
    on-set="ctrl.onSet(ctrl.currentTimeFrom)"/>

<h3>Search interval</h3>
<label for="inputCreated">From</label>
<input input-date
    type="text"
    name="created"
    id="inputCreated2"
    ng-model="ctrl.currentTimeTo"
    container="body"
    format="dd/mm/yyyy"
    months-full="{{ ctrl.month }}"
    months-short="{{ ctrl.monthShort }}"
    weekdays-full="{{ ctrl.weekdaysFull }}"
    weekdays-short="{{ ctrl.weekdaysShort }}"
    weekdays-letter="{{ ctrl.weekdaysLetter }}"
    disable="ctrl.disable"
    min="{{ ctrl.minDate }}"
    max="{{ ctrl.maxDate }}"
    today="ctrl.today"
    clear="ctrl.clear"
    close="ctrl.close"
    select-years="15"
    on-set="ctrl.onSet(ctrl.currentTimeTo)"
/>
