<div ng-show="ctrl.selectedCity">
  <h2 class="section-title no-margin-all">Forecast <span class="teal-text" ng-bind="ctrl.selectedCity"></span></h2>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header collapsible-header-big">
        <div class="valign-wrapper-full">
          <span class="valign-middle">
            <img class="icon-small teal-text text-accent-4" ng-src='{{ctrl.todayIcon}}'/>
          </span>
          <h3 class="valign-middle light-title">Today</h3>
        </div>
      </div>
      <div class="collapsible-body">
        <h5 class="center-align light-title-secondary no-margin-bottom teal-text">Temperature</h5>
        <table class="striped weather-table">
          <thead>
            <tr>
              <th>Average</th>
              <th>Min</th>
              <th>Max</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{ctrl.todayAverageTemp}}°</td>
              <td>{{ctrl.todayMinTemp}}°</td>
              <td>{{ctrl.todayMaxTemp}}°</td>
            </tr>
          </tbody>
        </table>
        <h5 class="center-align light-title-secondary no-margin-bottom teal-text">Air and wind</h5>
        <table class="striped weather-table">
          <thead>
            <tr>
              <th>Humidity</th>
              <th>Pressure</th>
              <th>Wind</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{ctrl.todayHumidity}}%</td>
              <td>{{ctrl.todayPressure}}</td>
              <td>{{ctrl.todayWind}}km/h</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header collapsible-header-big">
        <div class="valign-wrapper-full">
          <span class="valign-middle">
            <img class="icon-small teal-text text-accent-4" ng-src='{{ctrl.tomorrowIcon}}'/>
          </span>
          <h3 class="valign-middle light-title">Tomorrow</h3>
        </div>
      </div>
      <div class="collapsible-body">
        <h5 class="center-align light-title-secondary no-margin-bottom teal-text">Temperature</h5>
        <table class="striped weather-table">
          <thead>
            <tr>
              <th>Average</th>
              <th>Min</th>
              <th>Max</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{ctrl.tomorrowAverageTemp}}°</td>
              <td>{{ctrl.tomorrowMinTemp}}°</td>
              <td>{{ctrl.tomorrowMaxTemp}}°</td>
            </tr>
          </tbody>
        </table>
        <h5 class="center-align light-title-secondary no-margin-bottom teal-text">Air and wind</h5>
        <table class="striped weather-table">
          <thead>
            <tr>
              <th>Humidity</th>
              <th>Pressure</th>
              <th>Wind</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{ctrl.tomorrowHumidity}}%</td>
              <td>{{ctrl.tomorrowPressure}}</td>
              <td>{{ctrl.tomorrowWind}}km/h</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>
<div ng-show="!ctrl.selectedCity">
  <i class="error-text">Oops, we had a problem in retrieving data... are you sure you set a city in your settings?</i>
</div>