@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic,700italic);


html {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

html, body, .container {
  background-color: #ECF0F1;
}

.container {
  margin-top: 8px;
}

[layout=row] {
  flex-direction: row;
}

[text-center] {
  text-align: center;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {
  background-color: black;
}

td, th {
  padding: 15px 9px;
}

//typography

h1, h2, h3, h4, h5 {
  color: #6C7A89;
}

h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.50rem;
  line-height: auto;
}

h1.section-title {
  text-transform: uppercase;
  font-weight: 300;
}

.shout-text {
  font-size: 90px;
  margin: 0;
  font-weight: 700;
}

.shout-text-sensor {
  line-height: 1;
}

.brand-logo-plantie {
  font-weight: 700;
}

.celsius-sign {
  position: absolute;
  margin-top: 0px;
}

.input-field label {
  left: 0px;
}

.error-text {
  color: #F64747;
}

//icons
.icon-small {
  width: 35px;
  height: 35px;
}

//layout-helpers

.valign-wrapper-full {
  display: table;
  width: 100%;
  height: 100%;
}

.valign-middle {
  vertical-align: middle;
  display: table-cell;
  line-height: 0;
}

//colors

.text-red {
  color: #36D7B7;
}

.text-blue {
  color: #5C97BF; 
}

.text-yellow {
  color: #F89406;
}

.text-green {
  color: #36D7B7;
}

//collapsible

.collapsible-header {
  background-color: #ECF0F1;
} 

.collapsible-header-big {
  height: 70px;
}

table.striped tbody tr:nth-child(odd) {
  background-color: #E3EAEA;
}

table.weather-table thead tr th, table.weather-table tbody tr td {
  text-align: center;
}

.ng-hide-add, .ng-hide-remove, .ng-show-add, .ng-show-remove {
  /* ensure visibility during the transition */
  display: block !important; /* yes, important */
}

// TYPO

.section-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.light-title {
  font-weight: 300;
}

.light-title-secondary {
  font-size: 13px;
  text-transform: uppercase;
}

.animate-view.ng-enter {
  -webkit-transition: 1s linear all; /* Safari/Chrome */
  transition: 1s linear all; /* All other modern browsers and IE10+ */
  opacity: 0;
}

.animate-view.ng-enter-active {
  opacity: 1;
}
// margin helpers

.margin-bottom-medium {
  margin-bottom: 35px;
}

.margin-top-big {
  margin-top: 60px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.no-margin-top {
  margin-top: 0px;
}

.no-margin-all {
  margin: 0px 0px;
}

// padding

.padding-bottom-small {
  padding-bottom: 5px;
}

//landing

.call-to-action-landing {
  margin-top: 30%;
}

//navbar

nav .nav-wrapper {
  padding: 0 20px;
}

.tabs.dashboard-tabs {
  background-color: transparent;
}

.tabs .indicator {
  background-color: #00bfa5 !important;
  height: 4px;
}



//buttons
.btn-small {
  padding: 0 1rem;
  font-size: 12px;
}