<div ng-show="ctrl.isLoaded">
  <h2 class="section-title no-margin-all">Realtime data</h2>
  <div class="row margin-bottom-medium">
    <div class="col l3 m12 s12 left-align">
      <h3 class="no-margin-all">Temperature</h3>
      <p class="shout-text shout-text-sensor teal-text text-accent-4">{{data.temperature | number:1}}<small class="celsius-sign">°</small></p>
    </div>
    <div class="col l3 m12 s12 left-align">
      <h3 class="no-margin-all">Air Humidity</h3>
      <p class="shout-text shout-text-sensor teal-text text-accent-4">{{data.airHumidity}}<small>%</small></p>
    </div>
    <div class="col l3 m12 s12 left-align">
      <h3 class="no-margin-all">Sunlight</h3>
      <p class="shout-text shout-text-sensor teal-text text-accent-4">{{data.illumination}}</p>
    </div>
    <div class="col l3 m12 s12 left-align">
      <h3 class="no-margin-all">Soil Humidity</h3>
      <p class="shout-text shout-text-sensor teal-text text-accent-4">{{data.soilHumidity}}<small>%</small></p>
    </div>
  </div>
</div>
