<h3><span class="teal-text text-lighten-1">{{ctrl.mainLabel}}</span>&nbsp in last 24 hours</h3>
<div class="row">
  <div class="col m3 s12 center-align">
    <a class="waves-effect waves-light btn btn-small" ng-click="ctrl.selectedSensor = 1; ctrl.setGraphValues();">Temperature</a>
  </div>
  <div class="col m3 s12 center-align">
    <a class="waves-effect waves-light btn btn-small" ng-click="ctrl.selectedSensor = 2; ctrl.setGraphValues();">Air humidity</a>
  </div> 
  <div class="col m3 s12 center-align">
    <a class="waves-effect waves-light btn btn-small" ng-click="ctrl.selectedSensor = 3; ctrl.setGraphValues();">Sunlight</a>
  </div> 
  <div class="col m3 s12 center-align">
    <a class="waves-effect waves-light btn btn-small" ng-click="ctrl.selectedSensor = 4; ctrl.setGraphValues();">Soil humidity</a>
  </div> 
</div>
<canvas id="line" class="chart chart-line" data="ctrl.graphData"
        labels="ctrl.graphLabels" colours="ctrl.colours">
</canvas>