<div class="row">
  <div class="col m6 s12">
    <h2 class="section-title no-margin-all">Settings</h2>

    <h3>Select the name of your plantie</h3>
    <div input-field>
      <input type="text" ng-model="settings.plantieName">
      <label>Name of your plantie</label>
    </div>
    <div class="section">
      <a class="waves-effect waves-light btn" ng-click="ctrl.updatePlantieName();">Save</a>
    </div>

    <h3 class="no-margin-bottom">Select your plantie typology</h3>
    <select class="padding-bottom-small" ng-model="ctrl.choices[0]" material-select>
      <option ng-repeat="value in ctrl.choices">{{value}}</option>
    </select>

    <h3>Select the city you are growing your plantie in</h3>
    <div input-field>
      <input type="text" ng-model="settings.selectedCity">
      <label>City</label>
    </div>
    <div class="section">
      <a class="waves-effect waves-light btn" ng-click="ctrl.updateSelectedCity();">Save</a>
    </div>
  </div>
</div>
